.homePage {
  display: flex;
  height: 100%;
  padding-bottom: 10px;
  

  .textContainer {
    flex: 3;
    .wrapper{
      padding-right: 100px;
    }

  }
  .imageContainer {
    flex: 3;
    background-color: #ffbd59;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    img {
      width: 100%;
      position: absolute;
      right: 0;
    }
  }
}
